body, html {
    height: 100%;
    position: relative;
    background: url('http://thecodeplayer.com/u/m/b1.png') no-repeat center center fixed;
    background-size: cover;
    min-width: 500px;
    min-height: 200px;
    color: #fff;
    font-family: 'Montserrat';
    height:100vmax;
}

.container {
    width: 300px;
    height: 100%;
    margin: 0 auto 0;
    -webkit-perspective: none;
    -webkit-backface-visibility: hidden;
    background: #fff;
}

.pulse-button {
    width: 250px;
    height: 250px;

    font-size: 40px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 100px;
    letter-spacing: -1px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    border: none;
    border-radius: 50%;
    background: #5a99d4;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.5s infinite;

    cursor: pointer;
}

.pulse-button:hover {
    -webkit-animation: none;
    text-decoration: none;
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}