.bars {
  /*   background-color:pink; */
  position: absolute;
  width: 27px;
  height: 27px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 101;
  padding-top:9px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
}

.bar::before,
.bar::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 4px;
  position: absolute;
}

.bar::before {
  transform: translateY(-9px);
}

.bar::after {
  transform: translateY(9px);
}

.bars.active {
  display: none;
}

.bars.active .bar {
  background-color: transparent;
}

.bars.active span::before {
  animation: top-bar 1s;
  animation-fill-mode: forwards;
}

.bars.active span::after {
  animation: bottom-bar 1s;
  animation-fill-mode: forwards;
}


/* Navbar Links CSS */

#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

#nav a {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  transition: all .5s;
}

#nav a:hover {
  background: #357FFD;
}

#nav-list {
  list-style: none;
}

.visible {
  z-index: 100 !important;
  opacity: 1 !important;
}

.shape-circle {
  border-radius: 50%;
  width: 10vmin;
  height: 10vmin;
  top: -5vmin;
  right: -5vmin;
  position: absolute;
  transition: all 1s ease-in-out;
  background: #2979FF;
  box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child {
  width: 100vmin;
  height: 100vmin;
  top: -50vmin;
  right: -50vmin;
  z-index: 5;
  transition: all .5s ease-in-out;
  box-shadow: 0 0px 40px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(2) {
  width: 75vmin;
  height: 75vmin;
  top: -37.5vmin;
  right: -37.5vmin;
  z-index: 6;
  transition: all .6s ease-in-out;
  box-shadow: 0 0px 40px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(3){
  width: 50vmin;
  height: 50vmin;
  top: -25vmin;
  right: -25vmin;
  z-index: 7;
  transition: all .7s ease-in-out;
  box-shadow: 0 0px 40px rgba(4, 26, 62, 0.5);
}

nav.visible li:last-child{
  width: 25vmin;
  height: 25vmin;
  top: -12.5vmin;
  right: -12.5vmin;
  z-index: 8;
  transition: all .8s ease-in-out;
  box-shadow: 0 0px 40px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child a {
  line-height: 170vmin !important;
  text-indent: 18vmin !important;
}

nav.visible li:nth-child(2) a {
  line-height: 126vmin !important;
  text-indent: 16vmin !important;
}

nav.visible li:nth-child(3) a {
  line-height: 80vmin !important;
  text-indent: 9vmin !important;
}

nav.visible li:last-child a {
  line-height: 35vmin !important;
  text-indent: 6vmin !important;
}