.awa-container {
    display: flex;
    align-items: stretch;

    width: 100%;
    height: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    flex: 25vw 0 0;
    padding: 16px;

    border-right: 1px solid white;
}

.right-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tickets-table {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.tickets-table table, .tickets-table .table-container {
    width: 100%;
}

.table-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-controls {
    height: 50%;

    display: flex;
    flex-direction: column;
}

.admin-controls form, .admin-controls .form-container {
    width: 100%;
}

.form-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

form input, form select {
    margin-bottom: 4px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    flex: 80px 0 0;

    border-bottom: 1px solid white;
}

.game-area {
    flex-grow: 1;
}