.awa-container {
    display: flex;
    align-items: stretch;

    width: 100%;
    height: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 450px;
    flex: auto 0 0;
    padding: 16px;

    border-right: 1px solid white;
}

.right-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tickets-table {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tickets-table .table-container {
    width: 100%;
    max-width: 100%;
}

.table-container {
    flex-grow: 1;
}

table {
    max-height: 100%;
}

table td, table th {
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

table td:not(:last-child) {
    max-width: 150px;
}

table td:last-child {
    max-width:  250px;
}

.admin-controls {
    height: 50%;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.admin-controls form, .admin-controls .form-container {
    width: 100%;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

form input, form select {
    margin-bottom: 4px;
    padding: 6px 12px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    flex: 80px 0 0;
    padding-right: 80px;
    border-bottom: 1px solid white;
}

.game-area {
    flex-grow: 1;
}

.tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    margin: 0;
}

.tabs > li {
    transition-duration: .25s;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 20px 20px 25px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: white;
}

.tabs > li:before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition-duration: .25s;
    border-radius: 5px 5px 0 0;
}

.tabs > li:hover:before {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
}

.tabs > li.active {
    color: #50555a;
}

.tabs > li.active:before {
    transition-duration: .5s;
    background-color: white;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.tab__content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.tab__content > li {
    width: 100%;
    height: 100%;
    display: none;
    list-style: none;
}

.tab__content > li .content__wrapper {
    text-align: center;
    width: 100%;
    height: 100%;
}
