<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar">
    <!--HamBurger Icon-->
    <div class="bars" id="nav-action">
        <span class="bar"> </span>
    </div>

    <!--Navbar Links-->
    <nav id="nav">
        <ul id="nav-list">
            <li class="shape-circle circle-one"><a href="/argos-waiting-area">The Waiting Room</a></li>
            <li class="shape-circle circle-two"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Magic...</a></li>
            <li class="shape-circle circle-three"><a href="/create">Create a Ticket</a></li>
            <li class="shape-circle circle-five"><a href="/">Home</a></li>
        </ul>
    </nav>
</div>

</html>
