<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">

    <head>
        <title>The Ticketing System</title>
        <link rel="stylesheet" href="/stylesheets/tickets.css"/>
        <script src="/js/game-switch.js"></script>
    </head>

    <body>

        <div layout:fragment="content" class="awa-container">
            <div class="left-column">
                <div class="tickets-table">
                    <h2 th:if="${model.tickets.size() > 0}">Sam's a busy boy...</h2>
                    <h2 th:unless="${model.tickets.size() > 0}">No tickets here...</h2>
                    <div class="table-container">
                        <table th:if="${model.tickets.size() > 0}">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ticket:${model.tickets}">
                                <td th:text="${ticket.id}"></td>
                                <td th:text="${ticket.name}"></td>
                                <td th:text="${ticket.description}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="admin-controls">
                    <h2>Admin controls</h2>
                    <div class="form-container">
                        <form th:action="@{/resolve-ticket}" method="POST">
                            <select class="form-control"    name="id" id="id">
                                <option value="0">Ticket number</option>
                                <option th:each="ticket : ${model.tickets}" th:value="${ticket.id}"
                                        th:text="${ticket.id} + ' - ' + ${ticket.name}"></option>
                            </select>
                            <input type="password" name="password" placeholder="Admin password">
                            <input type="submit" value="Resolve ticket">
                        </form>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="top-bar">
                    <ul class="tabs">
                        <li class="active">DVD</li>
                        <li class="">Dino</li>
                        <li class="">Pac-man</li>
                        <li class="">Tetris</li>
                        <li class="">Snake</li>
                    </ul>
                </div>
                <div id="game-area" class="game-area">
                </div>
            </div>
        </div>
    </body>
</html>