<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">

    <!--@thymesVar id="model" type="com.softwire.training.tickets.model.pagemodel.TicketPageModel"-->

    <head>
        <title>The Ticketing System</title>
        <link rel="stylesheet" href="/stylesheets/tickets.css"/>
        <script src="/js/game-switch.js"></script>
    </head>

    <body>

        <div layout:fragment="content" class="awa-container">
            <div class="left-column">
                <div class="tickets-table">
                    <h2 th:if="${model.tickets.size() > 0}">Sam's a busy boy...</h2>
                    <h2 th:unless="${model.tickets.size() > 0}">No tickets here...</h2>
                    <div class="table-container">
                        <table th:if="${model.tickets.size() > 0}">
                            <thead>
                            <tr>
                                <th>Ticket #</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ticket:${model.tickets}">
                                <td th:text="${ticket.id}"></td>
                                <td th:text="${ticket.name}"></td>
                                <td th:text="${ticket.description}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="admin-controls">
                    <h2>Admin controls</h2>
                    <div class="form-container">
                        <form th:action="@{/resolve-ticket}" method="POST">
                            <select class="form-control" th:field="${model.ticket.id}" name="id" id="id">
                                <option value="0">Ticket number</option>
                                <option th:each="ticket : ${model.tickets}" th:value="${ticket.id}"
                                        th:text="${ticket.id} + ' - ' + ${ticket.name}"></option>
                            </select>
                            <input type="password" name="password" placeholder="Admin password">
                            <input type="submit" value="Resolve ticket">
                        </form>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="top-bar">
                    <ul class="tabs">
                        <li class="active">Game One</li>
                        <li>Game Two</li>
                        <li>Game Three</li>
                    </ul>
                </div>
                <div id="game-area" class="game-area">
                    <ul class="tab__content">
                    <li class="active">
                        <div class="content__wrapper">
                            <h2 class="text-color">Pick a color</h2>

                            <ul class="colors">
                                <li data-color="#2ecc71"></li>
                                <li data-color="#D64A4B"></li>
                                <li data-color="#8e44ad"></li>
                                <li class="active-color" data-color="#46a1de"></li>
                                <li data-color="#bdc3c7"></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="content__wrapper">
                            <h2 class="text-color">Her</h2>

                            <img src="http://lewihussey.com/codepen-img/her.jpg">
                        </div>
                    </li>
                    <li>
                        <div class="content__wrapper">
                            <h2 class="text-color">About</h2>

                            <p>Created by <a class="text-color" href="http://lewihussey.com" target="_blank">Lewi Hussey</a></p>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>