<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <title>Create Ticket</title>
    <link rel="stylesheet" href="/stylesheets/create.css"/>
</head>
<body>

<div layout:fragment="content" class='form-container'>
    <form th:action="@{/create-ticket}" method="POST">
        <h1>Ticket Maker Thingymajiggy</h1>
        <p>Fill in these boxes or Sam won't help you</p>
        <hr>
        <label>
            <input type="text" name="name" onfocus="this.value=''" value="Who dis?">
        </label>


        <label>
            <span>Description</span>
            <input type="text" name="description" onfocus="this.value=''"
                   value="Enter a BRIEF description of your problem here">
        </label>
        <hr>

        <p>By creating a ticket you agree to our <a href="/ts&cs">Terms & Privacy</a>.</p>
        <input type="submit" class="ticket-button" value="Get Ticket">
    </form>
    <div class="needy-container">
        <p>Don't actually need a ticket, you're just being needy? <a href="/argos-waiting-area">Go Play</a>.</p>
    </div>
</div>
</body>
</html>